[submodule "third_party/libgit2"]
	path = third_party/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "third_party/miktik"]
	path = third_party/miktik
	url = https://github.com/Darkatse/MikTik.git
